<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--Jquery-->
    <script type="text/javascript" src="lib/jquery/jquery-2.1.4.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
	  <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script type="text/javascript">
      var pgapp = {
        initialize: function () {
          console.log("adentro de init");
          this.bindEvents();
        },

        // Bind any events that are required on startup. Common events are:
        // 'load', 'deviceready', 'offline', and 'online'.
        bindEvents: function () {
            document.addEventListener('deviceready', this.onDeviceReady, false);
        },

        onDeviceReady: function () {
          angular.element(document).ready(function() {
            angular.bootstrap(document, ['starter']);
          });
        }
      };
    </script>

  </head>

  <body>
    <div class="text-center">

	<ion-content ng-controller="qrController"><br>
<ion-spinner icon="lines"></ion-spinner>
<br>
			<button id="startScan" class="button button-assertive" ng-click="scanBarcode()">Scan</button>


    <div id="result" ng-controller="qrController" style="display: none">
      <div class="list card">
        <div class="item item-divider">
          <h2>{{ title }}</h2>
        </div>
        <div class="item item-text-wrap">
          <p> {{ description }}</p>
        </div>

        <div class="item item-image">
          <img ng-src="img/{{imagetitle}}">
        </div>

        <a class="item item-icon-left assertive" ng-click="scanBarcode()" href="#">
          <i class="icon ion-social-angular"></i>
          Volver a escanear  </a>

      </div>  </div>
	</ion-content>

      <!--<ion-content ng-controller="serverController">-->
         <!--<button id="makeRequest" class="button button-assertive" ng-click="getData('algo')">Server</button>-->
        <!--</ion-content>-->
  </div>
    <script type="text/javascript">
      pgapp.initialize();
    </script>
  </body>
</html>
